:root {
  --nav-height: 4rem;
  --red: #c50e20;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 350;
  font-size: 22px;
}

header {
  height: var(--nav-height);
  font-size: 30px;
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  width: 100%;
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 60rem;
}

nav > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

nav img {
  margin-left: 10px;
  width: 1em;
  height: auto;
}

nav > div {
  display: flex;
  font-size: 0.9em;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-right: 5vw;
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  text-decoration: underline;
  color: var(--red);
}

#main {
  margin-top: var(--nav-height);
}

section {
  width: 60rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

section::before {
  display: block;
  content: "";
  margin-top: calc((var(--nav-height)) * -1);
  height: var(--nav-height);
  visibility: hidden;
  pointer-events: none;
}

#banner {
  display: grid;
  grid-template-columns: 20rem auto;
  column-gap: 4rem;
  padding-top: 4rem;
}

#download {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}

.dl-link {
  font-size: 26px;
  width: 12em;
  padding: 0.8rem;
  /* border: 1px solid black; */
  border-radius: 5px;
  color: white;
  margin-bottom: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.dl-link:hover {
  text-decoration: underline;
}

.dl-link img {
  width: 1em;
  margin-right: 0.5em;
}

#dl-chrome {
  background: rgb(75 139 245);
}

#dl-firefox {
  background: rgb(255 137 2);
}

#banner > div:nth-child(2) {
  display: flex;
  align-items: center;
}

.screenshot {
  height: 17rem;
  width: auto;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
  margin-right: 1rem;
  display: block;
}

#mobile-mb {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin: 30px 0px;
}

#mobile-mb img {
  margin-left: 10px;
  height: 1em;
  width: auto;
}

@media (max-width: 1400px) {
  html,
  body {
    font-size: 18px;
  }

  header {
    font-size: 24px;
  }

  #banner {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 100%;
    column-gap: 0rem;
    padding-top: 0rem;
    row-gap: 0px;
  }

  #banner > div:nth-child(2) {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    justify-items: center;
  }

  #download {
    align-items: center;
  }

  .screenshot {
    height: auto;
    max-width: 400px;
    width: 80vw;
    margin: 0;
  }

  section {
    width: 90vw;
  }
}

@media (max-width: 900px) {
  header {
    font-size: 20px;
  }

  :root {
    --nav-height: 3rem;
  }
}

@media (max-width: 500px) {
  .dl-link {
    font-size: 22px;
  }

  nav img {
    width: 1.2em;
  }

  nav > a > div {
    display: none;
  }

  #mobile-mb {
    display: flex;
  }
}
