html,
body {
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-family: var(--font);
  font-weight: 350;
  font-size: 14px;
  min-width: 600px;
}

input {
  margin-right: 10px;
  font-family: var(--font);
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 60px;
  margin: 5px 0px 10px 10px;
}

.form-subsection {
  margin: 7px 0px 7px 5px;
  font-weight: 500;
  text-decoration: underline;
}

.url-input {
  width: 400px;
  margin-bottom: 10px;
}

#invalid-url {
  margin-bottom: 10px;
  font-weight: bold;
  color: #c50e20;
  display: none;
}

.form-section {
  font-weight: bold;
  margin-bottom: 7px;
}

.form-section:nth-of-type(n + 2) {
  margin-top: 20px;
}

.container {
  position: relative;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.clear-button {
  padding: 7px 10px;
  border-radius: 5px;
  border: 0;
  background-color: #c50e20;
  color: white;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.clear-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.clear-button:disabled {
  background-color: #a8a8a8;
  cursor: default;
  text-decoration: none;
}
