html, body {
  --font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-family: var(--font);
  font-weight: 350;
  font-size: 14px;
  min-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

input {
  margin-right: 10px;
  font-family: var(--font);
}

button[type=submit] {
  width: 75px;
  margin-top: 15px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  background-color: #c50e20;
  color: white;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button[type=submit]:hover {
  cursor: pointer;
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

label.interval-label {
  margin-bottom: 10px;
}

label.interval-label span {
  margin-right: 15px;
}

label.interval-label input {
  width: 50px;
}

.form-subsection {
  margin: 7px 0px 7px 5px;
  font-weight: 500;
  text-decoration: underline;
}

.url-input {
  width: 400px;
  margin-bottom: 10px;
}

.form-section {
  font-weight: bold;
  margin-bottom: 7px;
}

.form-section:nth-of-type(n+2) {
  margin-top: 20px;
}

.container {
  position: relative;
  margin: 20px
}

.button-row {
  display: flex;
}

.button-row div {
  max-width: 400px;
  padding: 5px 15px;
  margin-top: 15px;
  margin-left: 30px;
  border-radius: 5px;
  border: 0;
  color: white;
  font-weight: bold;
  letter-spacing: 0.6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s ease-in;
}

.success {
  display: none;
  background-color: #1b6e3c;
}

.error {
  display: none;
  background-color: #000000;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}