@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    width: 400px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-weight: 350;
  }
}

@layer components {
  .link {
    @apply text-blue-600 underline;
  }

  .link:hover {
    @apply cursor-pointer;
  }

  .content-container {
    @apply box-border relative flex flex-col items-center justify-center w-full;
  }

  .btn {
    @apply py-1 px-3 rounded bg-mb-red text-white font-semibold text-center tracking-wide shadow-custom;
  }

  .btn:hover {
    @apply opacity-95 underline cursor-pointer;
  }

  .btn:disabled {
    @apply bg-gray-300 cursor-default no-underline;
  }

  .custom-hover {
    @apply hover:text-mb-red hover:cursor-pointer hover:underline;
  }
}

@layer utilities {
  .scrollbar {
    --scrollbarBG: #dcdcdc;
    --thumbBG: #c50e2080;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }

  .scrollbar::-webkit-scrollbar {
    width: 11px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
}
