html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 350;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  width: 700px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
}

.title-icon {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
}

.section-content {
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-content > p {
  max-width: 400px;
}

.form {
  margin-top: 10px;
  font-size: 14px;
  font-family: inherit;
  width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.missing {
  align-self: center;
  display: none;
}

.form > div {
  margin-bottom: 5px;
  font-weight: bold;
}

.form > div:nth-of-type(n + 2) {
  margin-top: 20px;
}

.form > input {
  padding: 5px;
  width: 100%;
  font-family: inherit;
  font-weight: 350;
}

.form > textarea {
  padding: 5px;
  font-family: inherit;
  font-weight: 350;
  resize: none;
  font-size: inherit;
  width: 100%;
}

.form button {
  width: 100px;
  margin-top: 20px;
  align-self: center;
  padding: 10px 0px;
  border-radius: 5px;
  border: 0;
  background-color: #c50e20;
  color: white;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.form button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.success {
  display: none;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 14px;
  width: 100%;
  color: #8f8f8f;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: #8f8f8f;
  margin-bottom: 10px;
}

#version {
  margin-right: 5px;
}

.footer-right-section {
  display: flex;
  align-items: center;
}

.center {
  text-align: center;
}

.link {
  color: blue;
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}
